<div class="container">
  <div class="panel panel-default espaco">

    <h1>17 - Event binding e o $event - parte 2</h1>
    <div class="row">



      <button class="btn btn-primary"
              (click)="executar($event)"
              (mouseover)="mouseover($event)"
              (mousemove)="mousemove($event)"
              >Experimentar este botão</button>


              <p> {{ texto }}</p>

      <input type="text" id="text" name="text" (input)="executar2($event)">
    </div>
  </div>
</div>
