<div class="container">
  <div class="panel panel-default espaco">

    <!-- utilização da ditective ngStyle -->
    <p [ngStyle]="{'background-color': 'red', 'color': 'white'}">Texto de um parágrafo</p>

    <!-- utilização da ditective ngStyle com camelcase -->
    <p [ngStyle]="{backgroundColor: 'green', color: 'white'}">Texto de um parágrafo</p>


    <!-- utilização da ditective ngStyle com camelcase -->
    <p [ngStyle]="alterarEstilo()">Texto de um parágrafo</p>


    <!-- utilização da ditective ngClass -->
    <p [ngClass]="{ativo: estado === true }">Texto do novo parágrafo</p>
    <button (click)="Alternar()">Alternar</button>







  </div>
</div>
