<!--Principal-->
<div class="container panel panel-default espaco">


  <!-- Navegação -->
  <div class="row">
    <!--Logo-->
    <div class="col-sm-6 col-xs-12">

      <img src="../assets/logo1.png" class="logo">
    </div>

    <!--Botoes-->
    <div class="col-sm-6 col-xs-12 text-right">
      <button class="btn btn-primary btn-size"> Loja </button>
      <button class="btn btn-primary btn-size"> Estoque </button>
    </div>
  </div>





  <app-loja></app-loja>

  <app-stock></app-stock>
</div>
