<!-- Estoque -->
<div class="row panel panel-default espaco">

  <!-- Quantidades de produtos -->
  <div class="row">
    <h2>Estoque</h2>
  </div>

  <div class="row">
    <p>Abacaxis: 0</p>
  </div>

  <div class="row">
    <p>Bananas: 0</p>
  </div>

  <div class="row">
    <p>Laranjas: 0</p>
  </div>

  <!-- Total dos produtos -->
  <div class="row">
    <p>TOTAL: 0</p>
  </div>

  <!-- Botões -->
  <div class="row text-right">
    <button class="btn btn-default"> - Abacaxi</button>
    <button class="btn btn-default"> + Abacaxi</button>

    <button class="btn btn-default"> - Banana</button>
    <button class="btn btn-default"> + Banana</button>

    <button class="btn btn-default"> - Laranja</button>
    <button class="btn btn-default"> + Laranja</button>
  </div>

</div>
